<%- include('header') %>

    <div class="container">
        <div class="row">

            <div id="signupbox" style="margin-top:50px"
                class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Edit Password Details</div>
                    </div>
                    <div class="panel-body">
                        <form action="/password-detail/edit/<%= record_pass._id %>" id="passwordform" class="form-horizontal"
                            method="post" role="form">
                            <% if(success !=''){%>
                            <p><%= success %></p>
                            <%}%>
                      <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Password Details</label>
                                <div class="col-md-9">
                                   <select class="form-control" name="pass_cat" required>
                                       <option value="">Choose Password Category</option>
                                       <% if(record_cat.length > 0){
                                        record_cat.forEach(function(row){
                                        %>
                            <option value= "<%= row.password_category %>"
                                <% if(row.password_category==record_cat.password_category){ %> selected <% } %>>
                                <%= row.password_category %></option>
                            <%  }) } %>
                            </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Project Name</label>
                    <div class="col-md-9">
                        <input type="textbox" class="form-control" name="project_name"
                            placeholder="Enter Your Project Name" value="<%= record_pass.project_name %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Password Details</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="editor" name="pass_details" rows="5"
                            placeholder="Enter Your Password Details"><%= record_pass.password_details %></textarea>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= record_pass._id %>">
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" name="submit" value="Update Password" class="btn btn-primary">
                    </div>
                </div>

                <p><a href="/view-all-password">View All Password Lists</a></p>
                </form>
            </div>
        </div>




    </div>
    </div>
    </div>
    <script>
        CKEDITOR.replace('editor');
    </script>
<%- include('footer') %>
